# Common bioinformatics files to exclude
*.bam
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.bai
*.bw
*.bigWig
*.h5ad
*.h5
*.hdf5
*.bed
*.vcf
*.vcf.gz
*.bcf
check_host_pipeline/reference/
check_host_pipeline/resouce
*bam*
*fasta*
*fastq*
*fna*
*fa*
*bai*
check_host_pipeline/20251209_results/
check_host_pipeline/*results*/
check_host_pipeline/logs/
check_host_pipeline/.snakemake/
